[submodule "Building-Blocks"]
	path = Building-Blocks
	url = https://github.com/buildingfirefoxos/Building-Blocks.git
[submodule "webL10n"]
	path = webL10n
	url = https://github.com/fabi1cazenave/webL10n.git
